
.custom-container{
    width: 85%;
    margin: 0 auto;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
}
.no-border{
    border: none;
}
button, input, select, textarea {
    color: #666;
    font-size: 14px;
    height: 46px;
    border: 1px solid #E3E4E8;
    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 12px;
    -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    line-height: 1.6;
}
.select2-dropdown{
    z-index: 1999;
}
.bg-diff{
    background-image: url(../images/BackgroundElement1.png);
    background-size: 90%;
}

.title-wrap{
    background-position: 0% 30%;
    background-size: 3%;
    padding: 10px 30px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
  }

  .title-wrap h2{
      font-weight: 800;
      font-size: 42px;
      margin-bottom: 0;
      line-height: 1.2;
      padding-left: 35px;
  }
  .title-wrap.no-icon{
      padding-left:0;
  }
  .title-wrap.no-icon h2{
      padding-left: 0;
  }
  .title-wrap span{
      color: #3B9EF9;
      text-transform: uppercase;
      font-size: 20px;
  }
  .title-wrap a{
    position: absolute;
    right: 0;
    top: 40%;
    color: #757575;
    font-weight: 600;
    font-size: 14px;
}
@media screen and (max-width: 1399px) {
  
    
    .title-wrap {
        padding-top: 0;
        padding-left: 35px;
      }
    .title-wrap h2{
      font-size: 35px;
      padding-left: 0;
    }
    
}
.prop-btn {
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    /* padding-right: 56px; */
    border-color: #1e1e2b;
    border-style: solid;
    background-color: #1e1e2b;
    border-width: 2px;
    margin: 0px;
    border-radius: 15px;
    padding: 0px 25px;
    color: #727272;
    text-decoration: none;
    white-space: normal;
    width: 176px;
    height: 50px;
    min-height: 0px;
    min-width: 0px;
    line-height: 3;
    font-weight: 500;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    max-height: none;
    max-width: none;
    overflow: hidden;
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -webkit-transform-origin: 50% 50% 0px;
            transform-origin: 50% 50% 0px;
  }
  

  
  .prop-btn:hover {
    background-color: white;
    color: #1F1D2B;
    font-weight: 700;
    border: 1px solid #1e1e2b;
  }
  
  
  
  .prop-btn.reverse-button {
    color: #1e1e2b;
    background-color: white;
    border: 1px solid #1e1e2b;
  }
  
  .prop-btn.reverse-button:hover {
    background-color: #1e1e2b;
    color: white;
    border: 1px solid #1e1e2b;
  }
  
.controls.row{
    margin: 0;
}
.no-padding{
    padding: 0;
}
span,p,li,button,a,th,td,input,select,h1,h2,h3,h4,h5,h6{
    color: #1F1D2B;
}
button,a{
    transition: all .5s ease-in-out;
    text-decoration: none;
}
section{
    padding: 60px 0px;
}
h4{
    font-size: 20px;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus-visible{
    outline: none;
}
.select2-container{
    width: 100% !important;
}
/* listing search page css */
.listing-wrap{
    background-color: #F6F6F6;
}
.results-show{
    padding: 20px 0px 10px;
}
.results-show .result-show-wrapper{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.results-show .result-show-wrapper .result-show-content{
    display: flex;
    align-items: center;
}
.results-show .result-show-wrapper .result-show-content .prev-button{
    padding: 0px 10px;
}
.results-show .result-show-wrapper .result-show-content .prev-button button{
    font-size:20px;
    padding: 1px 10px;
    border: none;
    border-radius: 50%;
    background-color: #1F1D2B;
}
.results-show .result-show-wrapper .result-show-content .prev-button button i{
    color: #fff;
}
.results-show .result-show-wrapper .result-show-content .result-show-text{
    padding-left: 10px;
}
.results-show .result-show-wrapper .result-show-content .result-show-text span{
    color: #777;
}
/* search bar css */
.search-bar{
    padding: 10px 0px;
}
.search-bar .search-bar-content{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.search-bar .search-bar-content .search-bar-types{
    margin-bottom: 15px;
}
.search-bar .search-bar-content .search-bar-types .nav-tabs{
    border: none;
    margin-left: -10px;
}
.search-bar .search-bar-content .search-bar-types .nav-tabs .nav-link.active{
    background-color: #fff;
    color: #1F1D2B;
    border: 1px solid #1F1D2B;
}
.search-bar .search-bar-content .search-bar-types .nav-tabs .nav-link{
    background-color: #F6F6F6;
    color: #777;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.search-bar .search-bar-content .search-bar-types .nav-tabs li{
    padding: 0px 10px;
}
.search-bar .search-bar-content .search-bar-forms .search-form{
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    align-items: flex-end;
}
.search-bar .search-bar-content .search-bar-forms .search-form > span{
    padding: 0px 10px;
}
.search-bar .search-bar-content .search-bar-forms .search-form span label{
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.search-bar .search-bar-content .search-bar-forms .search-form span input,
.search-bar .search-bar-content .search-bar-forms .search-form span select,
.search-bar .search-bar-content .search-bar-forms .search-form span button{
    width: 100%;
    padding: 10px;
    background-color: #F6F6F6;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.search-bar .search-bar-content .search-bar-forms .search-form .select2-container--default .select2-selection--single{
    height: auto;
    padding: 6px 0px;
    background-color: #F6F6F6;
    border: none;
    width: 100%;
}
.search-bar .search-bar-content .search-bar-forms .search-form .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 5px;
    color: #1F1D2B;
}
.search-bar .search-bar-content .search-bar-forms .search-form .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #1F1D2B transparent transparent transparent;
}
.search-bar .search-bar-content .search-bar-forms .search-form .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color:  transparent transparent #1F1D2B transparent;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 14px;
    color: #757575;
}
.search-bar .search-bar-content .search-bar-forms .search-form span.keyword-search{
    width: 30%;
}
.search-bar .search-bar-content .search-bar-forms .search-form span.keyword-search input{
    padding: 10px 40px;
}
.search-bar .search-bar-content .search-bar-forms .search-form span.location-search{
    width: 25%;
}
.search-bar .search-bar-content .search-bar-forms .search-form span.keyword-search > span{
    position: relative;
}
.search-bar .search-bar-content .search-bar-forms .search-form span.keyword-search span.search-icon i{
    position: absolute;
    top: 3px;
    left: 10px;
}
.search-bar .search-bar-content .search-bar-forms .search-form span.bathroom-number,
.search-bar .search-bar-content .search-bar-forms .search-form span.bedroom-number{
    width: 20%;
}
.search-bar .search-bar-content .search-bar-forms .search-form span.submit-button{
    width: 5%;
}
.search-bar .search-bar-content .search-bar-forms .search-form span.submit-button button{
    padding: 10px 5px;
    background-color: #1F1D2B;
    color: #fff;
}
/* listing section css */
.listing-section{
    padding-bottom: 20px;
}
.listing-section .listing-content{
    background-color: #fff;
    padding:30px;
    border-radius: 5px;
}
.listing-section .listing-content .listing-top{
    display: flex;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
}
.listing-section .listing-content .listing-top .listing-number span{
    font-size: 16px;
    font-weight: 700;
}
.listing-section .listing-content .listing-top .sorting-options{
    width: 30%;
    display: flex;
    text-align: right;
    align-items: center;
}
.listing-section .listing-content .listing-top .sorting-options .sort-select{
    padding: 0px 5px;
    width: 75%;
}
.listing-section .listing-content .listing-top .sorting-options .sort-select label{
    padding-right: 5px;
}
.listing-section .listing-content .listing-top .sorting-options .sort-select select{
    padding: 2px 5px;
    border: 1px solid #e5e5e5;
}
.listing-section .listing-content .listing-top .sorting-options .layout-select{
    display: flex;
    padding: 0px 5px;
    width: 25%;
}
.listing-section .listing-content .listing-top .sorting-options .layout-select div{
    padding: 0px 5px;
}
.listing-section .listing-content .listing-top .sorting-options .layout-select div button{
    border: 1px solid transparent;
    border-radius: 5px;
    height: 100%;
    background-color: #F6F6F6;
}
.listing-section .listing-content .listing-top .sorting-options .layout-select div button i{
    color: #1F1D2B;
}
.listing-section .listing-content .listing-top .sorting-options .layout-select div button.active{
    border: 1px solid #1F1D2B;
}
.listing-section .listing-content .listing-middle{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
.listing-section .listing-content .listing-middle .listing-wrapper *{
    transition: all .5s ease-in-out;
}
.listing-section .listing-content .listing-middle .listing-wrapper.multiple{
    padding: 25px;
    width: 25%;
}

.listing-section .listing-content .listing-middle .listing-wrapper .listing-single{
    transition: all .5s ease-in-out;
    background-color: white;
}
.listing-section .listing-content .listing-middle .listing-wrapper .listing-single:hover{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .1);
    border-radius: 5px;
}
.listing-section .listing-content .listing-middle .listing-wrapper .listing-single .listing-text .listing-title span{
    font-size: 20px;
    font-weight: 700;
}
.listing-section .listing-content .listing-middle .listing-wrapper .listing-single .listing-text .listing-title span span{
    font-size: 14px;
    color: #777;
    font-weight: 500;
}
.listing-section .listing-content .listing-middle .listing-wrapper .listing-single .listing-text .listing-house-type span{
    font-size: 14px;
    font-weight: 500;
}
.listing-section .listing-content .listing-middle .listing-wrapper .listing-single .listing-text .listig-house-location span{
    font-size: 14px;
    color: #777;
}
.listing-section .listing-content .listing-middle .listing-wrapper .listing-single .listing-text .listing-house-detail ul{
    padding: 5px 0px;
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.listing-section .listing-content .listing-middle .listing-wrapper .listing-single .listing-text .listing-house-detail ul li{
    padding: 0px 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.listing-section .listing-content .listing-middle .listing-wrapper .listing-single .listing-text .listing-house-detail ul li .listing-detail-image{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #F6F6F6;
    border-radius: 50%;
    margin-right: 10px;
}

.listing-section .listing-content .listing-middle .listing-wrapper .listing-single .listing-text .listing-house-detail ul li .listing-detail-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
 
}
/* for multiple listing */
.listing-section .listing-content .listing-middle .listing-wrapper.multiple .listing-single {
    box-shadow: 0px 0px 5px 3px #0000001a;
}
.listing-section .listing-content .listing-middle .listing-wrapper.multiple .listing-single:hover{
    box-shadow: 4px 2px 15px 4px #cbcbcb;
}

.listing-section .listing-content .listing-middle .listing-wrapper.multiple .listing-single a{
    text-decoration: none;
}
.listing-section .listing-content .listing-middle .listing-wrapper.multiple .listing-single .listing-image{
    height: 200px;
}
@media screen and (max-width: 1399px) {
    .listing-section .listing-content .listing-middle .listing-wrapper.multiple{
        padding: 15px;
    }
    .listing-section .listing-content .listing-middle .listing-wrapper.multiple .listing-single .listing-image{
        height: 160px;
    }
}
.listing-section .listing-content .listing-middle .listing-wrapper.multiple .listing-single .listing-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    
}
.listing-section .listing-content .listing-middle .listing-wrapper.multiple .listing-single .listing-text{
    padding: 15px;
}
/* for single listing */
.listing-section .listing-content .listing-middle .listing-wrapper.single{
    width: 100%;
    padding: 10px 15px;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-single a{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-image{
    height: 150px;
    width: 20%;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    text-align: center;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-text .listing-title{
    padding: 0px 10px;
    width: 33.33%;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-text .listing-house-type{
    width: 33.33%;
    padding: 0px 10px;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-text .listig-house-location{
    width: 33.33%;
    padding: 0px 10px;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-text .listing-house-detail{
    width: 100%;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-text .listing-house-detail ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* .listing-section .listing-content .listing-middle .listing-wrapper .listing-single .listing-text .listing-house-detail ul{
    justify-content: center;
} */
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-single .listing-text .listing-house-detail ul li{
    margin: 0px 10px;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-single .listing-text .listing-house-detail ul li .listing-detail-image{
    width: 40px;
    height: 40px;
}
.listing-section .listing-content .listing-middle .listing-wrapper.single .listing-single .listing-text .listing-house-detail ul li .listing-detail-image img{
    width: 16px;
}
.listing-section .listing-content .listing-bottom{
    padding: 5px 0px;
}
.pages{
    display: flex;
    justify-content: center;
}
.pages button{
    padding: 3px 5px;
    min-width: 30px;
    margin: 0px 5px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    border-radius: 5px;
}
.pages button:hover{
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
}
.pages ul{
    padding: 0;
    margin: 0;
}
.pages ul li{
    display: inline-block;
}

/* header css */
header{
    position: sticky;
    background-color: #1F1D2B;
    padding: 15px 0px;
    top: 0;
    z-index: 100;
}
header .top-bar{
    display: flex;
    align-items: center;
}
header .top-bar .burger-naivigaion{
    width: 5%;
}
header .top-bar .burger-naivigaion button{
    width: 100%;
}
header .top-bar .burger-naivigaion button .menu-bars{
    width: 100%;
    height: 20px;
    position: relative;
}
header .top-bar .burger-naivigaion button .menu-bars div{
    position: absolute;
    height: 2px;
    background-color: #fff;
    left: 0;
    transition: all .5s linear;
}
header .top-bar .burger-naivigaion button .menu-bars div.bar1{
    width: 80%;
    top: 0;
}
header .top-bar .burger-naivigaion button .menu-bars div.bar2{
    width: 60%;
    top: 50%;
}
header .top-bar .burger-naivigaion button .menu-bars div.bar3{
    width: 40%;
    top: 100%;
}
header .top-bar .burger-naivigaion button:hover .menu-bars div.bar2,
header .top-bar .burger-naivigaion button:hover .menu-bars div.bar3{
    width: 80%;
}
header .top-bar .home-logo{
    width: 10%;
    padding: 0px 5px;
}
header .top-bar .home-logo span a{
    font-size: 20px;
    color: #fff;
}
header .top-bar .top-navigation{
    width: 55%;
}
header .top-bar .top-navigation ul{
    margin: 0;
}
header .top-bar .top-navigation ul li{
    display: inline-block;
}
header .top-bar .top-navigation ul li a{
    color: #fff;
    font-weight: 600;
}
header .top-bar .logger{
    width: 23%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-right: 1px solid rgba(255, 255,255, .5);
}
header .top-bar .logger .notification{
    width: 15%;
}
header .top-bar .logger .notification button{
    background-color: transparent;
    border: none;
    color: #fff;
}
header .top-bar .logger .notification button i{
    font-size: 20px;
}
header .top-bar .logger .log-checker{
    width: 75%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
header .top-bar .logger .log-checker .user-image{
    width: 40px;
    height: 40px;
}
header .top-bar .logger .log-checker .user-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
header .top-bar .logger .log-checker .user-text{
    width: 90%;
}
header .top-bar .logger .log-checker .logged-as span{
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
}
header .top-bar .logger .log-checker .login-user span{
    color: #fff;
    font-size: 14px;
    padding-left: 5px;
    font-weight: 500;
}
header .top-bar .logger .log-toggle{
    width: 10%;
    color: #fff;
}
header .top-bar .logger .log-toggle i{
    font-size: 12px;
}
header .top-bar .language{
    width: 7%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
header .top-bar .language .image{
    width: 20%;
    color: #fff;
}
header .top-bar .language .image i{
    font-size: 20px;
}
header .top-bar .language .current-language{
    font-size: 16px;
    color: #fff;
    padding-left: 15px;
}
header .top-bar .language .language-toggle{
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
}
header .top-bar button{
    background: transparent;
    color: #fff;
    border: none;
}
/* footer css */
footer{
    background-color: #1F1D2B;
}
footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
footer span,footer a, footer li, footer h4{
    color: #fff;
    text-decoration: none;
}
footer .footer-top{
    padding: 40px 0px 20px;
    border-bottom: 1px solid #fff;
}
footer .footer-top .footer-title{
    margin-bottom: 20px;
}
footer .footer-top .footer-title h4{
    text-transform: uppercase;
}
footer .footer-top ul li{
    padding: 5px 0px;
}
footer .footer-bottom{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
}
footer .footer-bottom ul li{
    display: inline-block;
    padding: 0px 10px;
}
footer .footer-bottom ul li i{
    font-size: 18px;
}
footer .footer-bottom .copyright span{
    font-size: 14px;
    text-transform: capitalize;
}
.item-image-holder {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 80%;
    margin-bottom: 20px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .item-image-holder img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
/* burger-menu css */
header .top-bar .burger-menu{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 400px;
}
header .top-bar .burger-menu.active .main-navigation{
    animation: slideInLeft .5s linear  1;
}
header .top-bar .burger-menu.not-active .main-navigation{
    animation: slideOutLeft .5s linear  1;
}
header .top-bar .burger-menu .main-navigation{
    background-color: #2B2839;
    height: 100vh;
    z-index: 50;
    position: relative;
}
header .top-bar .burger-menu .main-navigation ul{
    margin: 0;
    padding: 20px 0px;
}
header .top-bar .burger-menu .main-navigation ul li{
    padding: 0px 30px;
    border-left: 1px solid #2B2839;
    transition: all .5s ease-in-out;
}
header .top-bar .burger-menu .main-navigation ul li a{
    padding: 20px 0px;
    color: #bbb;
    font-weight: 500;
    display: flex;
    align-items: center;
}
header .top-bar .burger-menu .main-navigation ul li:not(:last-child) a{
    border-bottom: 1px solid #bbb;
}  
header .top-bar .burger-naivigaion button.active .menu-bars .bar1{
    top: 50%;
    transform: rotate(45deg);
}
header .top-bar .burger-naivigaion button.active .menu-bars .bar2{
    width: 80%;
    transform: rotate(-45deg);
}
header .top-bar .burger-naivigaion button.active .menu-bars .bar3{
    transform: rotate(45deg);
    width: 80%;
    top: 50%;
    opacity: 0;
}
header .top-bar .burger-naivigaion button.active{
    position: relative;
    z-index: 100;
}
header .top-bar .burger-menu .menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, .5);
}
header .top-bar .burger-menu .main-navigation ul li:hover{
    border-left: 2px solid #3B9EF9;
    background-color: #1F1D2B;
}
header .top-bar .burger-menu .main-navigation ul li a span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #FAF7FF;
    position: relative;
    border-radius: 5px;
    margin-right: 10px;
}
header .top-bar .burger-menu .main-navigation ul li a span img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    object-fit: contain;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideOutLeft{
    0%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
    }
}
/* listing-section media queries */
@media(max-width:1199px){
    .listing-section .listing-content .listing-top .sorting-options{
        width: 40%;
    }
    .listing-section .listing-content .listing-middle .listing-wrapper.multiple{
        padding: 10px;
    }
    .listing-section .listing-content .listing-middle{
        margin-left: -10px;
        margin-right: -10px;
    }
}
@media(max-width:991px){
    .listing-section .listing-content .listing-middle .listing-wrapper.multiple{
        flex: calc(100%/3);
    }
}
.bg-icons{
    background-image: url(../images/BackgroundElement4.png);
    background-position: 95% 95%;
    background-repeat: no-repeat;
}

.banner-wrap-section {
    background-color:#1e1e2b;
    background-position: bottom;
    background-size: cover;
    height: 90vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1399px) {
    .banner-wrap-section {
        padding-bottom: 10px;
   }
}
@media screen and (max-width: 767px) {
    .banner-wrap-section {
        height: 100vh;
        margin-top: 0px;
   }
}
.banner-wrap-section .banner-wrap {
    width: 100%;
    align-items: center;
    display: flex;
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
    background-position: 100% 50%;
    height: 100%;
}
.banner-wrap-section .banner-wrap:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    right: 0;
    top: 0;
}

.banner-wrap-section .banner-wrap .drop-wrap {
    width: 100%;
    text-align: left;
    position: relative;
    
    margin: 0 auto;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents{
    width: 85%;
}
@media screen and (max-width: 1399px) {
    .banner-wrap-section .banner-wrap .drop-wrap .search-contents{
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .banner-wrap-section .banner-wrap .drop-wrap {
        width: auto;
   }
}
.banner-wrap-section .banner-wrap .drop-wrap .drop-text{
    width: 40%;
    margin-bottom: 60px;
}
.banner-wrap-section .banner-wrap .drop-wrap .drop-text h3 {
    text-transform: capitalize;
    font-weight: 900;
    color: white;
    font-size: 70px;
}


.banner-wrap-section .banner-wrap .drop-wrap .drop-text p{
    color: white;
    font-size: 22px;
}
@media screen and (max-width: 1399px) {
    .banner-wrap-section .banner-wrap .drop-wrap .drop-text h3 {
        text-transform: capitalize;
        font-weight: 900;
        color: white;
        font-size: 40px;
    }
    .banner-wrap-section .banner-wrap .drop-wrap .drop-text p{
        color: white;
        font-size: 16px;
    }
}
@media screen and (max-width: 767px) {
    .banner-wrap-section .banner-wrap .drop-wrap h3 {
        font-size: 22px;
   }
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs {
    border-bottom: 0;
    
    margin-left: 0;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li {
    width: 200px;
    background-color: #f5f5f6;
    border-bottom: 1px solid #757575;
    border-top-left-radius: 10px;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li:nth-child(2){
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li.active{
    background-color: white;
}


.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li button {
    background-color: white;
    color: #1e1e2b;
    text-transform: capitalize;
    font-size: 24px;
    background-position: 10% 50%;
    background-size: 20%;
    font-weight: 800;
    padding: 10px;
    border-radius: 0;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: auto;
    transition: all 0.3s linear;
    border: 1px solid #1e1e2b;
    opacity: 0.2;
    align-items: center;
    vertical-align: middle;
    padding: 20px 25px;
    padding-left: 50px;
    border-top-left-radius: 10px;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li:nth-child(2)>button{
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li:hover button {
    opacity: 1;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li button.active {
    color: #1e1e2b;
    background-color: white;
    
    opacity: 1;
}

@media screen and (max-width: 1399px) {
   
    .banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li button {
        font-size: 18px;
        background-size: 15%;
        padding: 15px 20px;
       
    }
}
/* .banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li button older{
    width: 20%;
    padding-bottom: 20%;
    margin-right: 10px;
    margin-bottom: 0;
} */
/* .banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .nav-tabs li a span{
    width: 70%;
} */
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content {
    background-color: white;
    text-align: left;
    border-radius: 5px;
    border-top-right-radius: 0px;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form {
    border: none;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form select{
    animation: fadeOut 0.3s linear;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form select.selectWithIcon + .select2-container{
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 5%;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form select#selecterAddress + .select2-container{
    background-image: url(../images/maps-and-flags.png);
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form select#selectorPrice + .select2-container{
    background-image: url(../images/dollar.png);
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form select#selecterAddressbuy + .select2-container{
    background-image: url(../images/maps-and-flags.png);
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form select#selectorPricebuy + .select2-container{
    background-image: url(../images/dollar.png);
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form p .select2-container--default .select2-selection--single {
    height: 55px;
    border-color: transparent;
    border-radius: 0;
    background-color: transparent;
    
}

@media screen and (max-width: 1399px) {
   
    .banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form p .select2-container--default .select2-selection--single {
        height: 45px;
        
        
    }
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form select.selectWithIcon + .select2-container .selection .select2-selection{
    padding-left:30px ;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form select.selectWithIcon + .select2-container .selection .select2-selection .select2-selection__rendered{
    font-size: 18px;
    color: #757575;
    height: 100%;
    padding: 10px;
}

@media screen and (max-width: 1399px) {
    .banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form select.selectWithIcon + .select2-container .selection .select2-selection .select2-selection__rendered{
        font-size: 15px;
        line-height: 1.4;
    }
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form .form-bottom p .select2-container--default .select2-selection--single {
    border-color: #ddd;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form p .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    padding: 5px 0 10px 15px;
    border-radius: 0;
    height: 100%;
    color: #1e1e2b;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form p .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 10px;
    height: 30px;
    border-radius: 0;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form p .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-left: 2px solid #1e1e2b;
    border-top: 2px solid #1e1e2b;
    border-bottom: none;
    border-right: none;
    width: 10px;
    height: 10px;
    transform: rotate(-135deg);
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form p input {
    margin-bottom: 0px;
    border-radius: 0;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form p text-area {
    margin-bottom: 15px;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form .prop-btn {
    color: white;
    border-radius: 0;
    height: 55px;
    width: 100%
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form .prop-btn:hover {
    color: #1e1e2b;
    height: 55px;
}
@media screen and (max-width: 1399px) {
    .banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form .prop-btn {
        
        height: 45px;
    }
    .banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form .prop-btn:hover {
        color: #1e1e2b;
        height: 45px;
    }
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content.active form {
    animation: fadeInRight 0.4s linear;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form .form-bottom p{
    margin-bottom: 40px;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form .controls .form-bottom .filter-icon {
    transition: all 0.4s linear;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form .controls .form-bottom .filter-icon .icon-holder{
    padding-bottom: 100%;
    margin-bottom: 0;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content form .controls .form-bottom .filter-icon:hover{
    background-color: #ddd;
}
/* .banner-wrap-section:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.5;
} */
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content .search-tab-pane.active {
    animation: fadeIn 0.6s 1 linear;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content .search-tab-pane {
    animation: fadeOut 0.2s 1 linear;
}

.filter-modal .modal-dialog{
    width: 80%;
    max-width: 80%;
}
/* detail css */
.detail-wrap{
    background-color: #F6F6F6;
}
.detail-options{
    padding: 10px 0px;
}
.detail-options .detail-option-content{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.detail-options .detail-option-content .detail-toggle ul{
    border: none;
    margin-left: -10px;
    margin-right: -10px;
}
.detail-options .detail-option-content .detail-toggle ul li{
    padding: 10px;
}
.detail-options .detail-option-content .detail-toggle ul li button{
    border: none;
    color: #1F1D2B;
    font-weight: 700;
    border-radius: 5px;
    transition: .5s all ease-in-out;
}
.detail-options .detail-option-content .detail-toggle ul li button.active,
.detail-options .detail-option-content .detail-toggle ul li button:hover{
    background-color: #1F1D2B;
    color: #fff;
}
.detail-section .summary-wrapper .summary-content{
    background-color: #fff;
    padding: 20px;
}
.detail-section .summary-wrapper .summary-content .summary-top{
    display: flex;
    justify-content: space-between;
}
.detail-section .summary-wrapper .summary-content .summary-top .user-wrap{
    display: flex;
}
.detail-section .summary-wrapper .summary-content .summary-top .user-wrap .user-image{
    width: 40px;
}


.select2-container {
    width: 100% !important;
  }
  
  .select2-container--default .select2-results__options {
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  
  .select2-container--default .select2-results__options::-webkit-scrollbar {
    width: 5px;
  }
  
  .select2-container--default .select2-results__options::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .select2-container--default .select2-results__options::-webkit-scrollbar-thumb {
    background: #1e1e2b;
  }
  
  .select2-container--default .select2-results__options::-webkit-scrollbar-thumb:hover {
    background: #1e1e2b;
  }
  
  .select2-container--default .select2-results__options .select2-results__option--highlighted[aria-selected] {
    background-color: #1e1e2b;
    color: white;
    border-radius: 10px;
  }
  
  .select2-container--default .select2-results__options .select2-dropdown--below {
    width: 300px !important;
    border-radius: 10px;
    border: none;
    top: 0px;
  }

 .recommend-section,
 .near-by-section{
     padding-bottom: 60px;
 }
.recommend-section .listing-content,
.near-by-section .listing-content{
    padding: 0;
    background-color: transparent;
}
  .near-by-section  .title-wrap{
    background-image: url(/images/mapblue.png);
  }

  .recommend-section  .title-wrap{
    background-image: url(/images/like.png);
  }

  .types-section .type-wrap .item-image-holder{
      padding-bottom: 80%;
      border-radius: 10px;
  }
  .types-section .type-wrap .item-image-holder::before{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    top: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 0;
  }
  .types-section .type-wrap .types-content{
      width: 80%;
      float: right;
  }
  .types-section .type-wrap .types-content p,
  .choose-section .choose-wrap .choose-single p{
      color: #757575;
      font-size: 20px;
  }
  .types-section .type-wrap .title-wrap{
      padding-left: 0;
  }
  .types-section .type-wrap .title-wrap h2{
      padding-left: 0;
  }
  .types-section .type-wrap .types-content ul li{
      position: relative;
      padding-left: 30px;
      background-image: url(/images/checked.png);
      background-position: 0% 50%;
      background-size: 3%;
      color: #1e1e2b;
      font-size: 22px;
      line-height: 2;
      background-repeat: no-repeat;

  }
 
  .types-section .type-wrap .types-content{
      color: #777;
  }
  .choose-section.bg-diff{
      background-size: 85%;
  }
  .choose-section .choose-wrap{
      padding: 20px 0px;
  }
  .choose-section .choose-wrap .choose-single {
      padding: 20px ;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 3px 2px -2px #0000001a;
  }
  .choose-section .choose-wrap .choose-single .content-title{
      display: flex;
      margin-bottom: 20px;
  }
  .choose-section .choose-wrap .choose-single .content-title .icon-container{
    width: 25%;
    padding:20px;
    border-radius: 15px;
    background-color:#3a9ff9 ;
  }
  .choose-section .choose-wrap .choose-single .content-title .icon-container .icon-holder{
      padding-bottom: 100%;
      margin-bottom: 0;
  }
  .choose-section .choose-wrap .choose-single .content-title h3{
    text-transform: capitalize;
    width: 75%;
    padding: 10px 20px;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 28px;
}
.exp-section .exp-whole-wrap{
    background-image: url(../images/BackgroundElement3.png);
    background-position: center;
    background-size: cover;
    display: flex;
    border-radius: 15px;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    padding: 70px 70px;
}
@media screen and (max-width: 1399px) {
  
    .choose-section .choose-wrap .choose-single .content-title h3{
        font-size: 16px;
        padding: 10px;
    }
    .choose-section .choose-wrap .choose-single .content-title .icon-container{
        width: 30%;
        padding:10px;
     
      }
      .types-section .type-wrap .types-content p,
      .choose-section .choose-wrap .choose-single p{
          color: #757575;
          font-size: 12px;
      }
      .exp-section .exp-whole-wrap{
       width: 100%;
       padding: 35px;
    }
}
.exp-section .exp-whole-wrap .exp-wrap {
   width: 40%;    
}
.exp-section .exp-whole-wrap .exp-wrap h3,
.exp-section .exp-whole-wrap .exp-wrap p{
    color: white;

}
.exp-section .exp-whole-wrap .exp-wrap p{
    font-size: 18px;
}
.exp-section .exp-whole-wrap .exp-wrap h3{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;

}
@media screen and (max-width: 1399px) {
    .exp-section .exp-whole-wrap .exp-wrap p{
        font-size: 13px;
    }
    .exp-section .exp-whole-wrap .exp-wrap h3{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    
    }
  
}
.exp-section .exp-whole-wrap .join-wrap{
    width: 55%;
}
.exp-section .exp-whole-wrap .join-wrap a{
    color: #311c3f;
    background-color: white;
    background-image: url(/images/buttoncheb.png);
    background-size: 9%;
    background-position: 85% 50%;
    background-repeat: no-repeat;
    width: 250px;
    float: right;
    height: 80px;
    font-size: 18px;
    line-height: 3;
    font-weight: 900;
    font-size: 24px;
    transition: all 0.3s linear;
}
.exp-section .exp-whole-wrap .join-wrap a:hover{
    background-color: #1F1D2B;
    color: white;
    background-image: url(/images/chevron2.png);
}
@media screen and (max-width: 1399px) {
    .exp-section .exp-whole-wrap .exp-wrap p{
        font-size: 13px;
    }
    .exp-section .exp-whole-wrap .exp-wrap h3{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    
    }
    .exp-section .exp-whole-wrap .join-wrap a{
       height: 65px;
       line-height: 2.5;
    }
  
}
.filter-modal .modal-dialog .modal-content .modal-header .close{
    position: relative;
    background-color: #fbf7ff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: right;
}
.filter-modal .modal-dialog .modal-content .modal-header{
    border-bottom: 0;
    display: block;
    padding: 15px 0px 0px;
}
.filter-modal .modal-dialog .modal-content .modal-header .close span{
    content: "";
    width: 40px;
    display: block;
    height: 2px;
    background-color: #1e1e2b;
    left: 10px;
    transform: rotate(40deg);
    position: absolute;
}
.filter-modal .modal-dialog .modal-content .modal-header .close span:nth-child(2){
    content: "";
    width: 40px;
    height: 2px;
    background-color: #1e1e2b;
    transform: rotate(-40deg);
}

.filter-modal .modal-dialog .modal-content{
    padding:0px  40px;
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-title{
    padding-left: 40px;
    background-image: url(/images/sound-mixer.png);
    background-position: 0% 10%;
    background-size: 2%;
    font-weight: 800;
    text-transform: uppercase;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ddd;
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-title h3{
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .nav-tabs{
    border: none;
    padding: 30px 0px 0px;
    
}



.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .nav-tabs .nav-link.active{
    background-color: #fff;
    color: #1F1D2B;
    
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .nav-tabs .nav-link{
    background-color: #F6F6F6;
    color: #777;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .nav-tabs li{
    padding: 0px 10px;
    background-color: white;
    border-bottom: 0;
    
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .nav-tabs li{
    box-shadow: 2px 2px 10px 2px #ddd;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .nav-tabs li:nth-child(2){
    box-shadow: 7px 2px 12px 5px #dddddd;
    
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .nav-tabs li:nth-child(2)>button{
    opacity: 0.8;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content {
    box-shadow: 2px 2px 10px 2px #ddd;
    z-index: 2;
    position: relative;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane{
    padding:20px 50px;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec{
        padding-bottom: 30px;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec .sub-title h3{
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 25px;
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul {
    display: flex;
    flex-wrap: wrap;

}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul li{
    width: 16.6%;
    padding: 15px;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul li .pr-type-contents{
    box-shadow: 2px 2px 10px 2px #ddd;
    padding: 20px 25px;
    cursor:pointer;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul li .icon-content{
    border-radius: 50%;
    background-color: #f5f5f5;
    padding: 15px;
    width: 75%;
    margin: 10px auto 10px;
    
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul li .pr-type-contents .icon-content .icon-holder{
    padding-bottom: 100%;
    margin-bottom: 0;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul li .pr-type-contents h5{
    text-transform: capitalize;
    text-align: center;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul li.active .pr-type-contents{
    border: 1px solid #000;
    border-radius: 5px;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul li .pr-type-contents:hover{
    border: 1px solid #000;
    border-radius: 5px;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec .range-fltr{
    width: 50%;
    padding: 20px 30px 0px 0px;
    float: left;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec .range-fltr .price-range-slider p input{
    height:auto;
    font-size: 20px;
    color: #727272;
    border: 0;
    font-weight: 700;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec .range-fltr .price-range-slider p input:focus{
    outline: 0;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec .range-fltr .price-range-slider .ui-slider-horizontal{
    margin-top: 200px;
    background-color: #d3e9ff;
    height: 10px;
    border: 0;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec .range-fltr .price-range-slider .ui-slider-horizontal .ui-slider-range{
    background-color: #000;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec .range-fltr .price-range-slider .ui-slider-horizontal .ui-slider-range:before{
    content: "";
    position: absolute;
    background-image: url(../images/zigzag.jpg);
    width: 100%;
    height: 170px;
    left: 0;
    top: -170px;
}
@media screen and (max-width: 1399px) {
    .filter-modal .modal-dialog .modal-content{
        padding: 0px 20px;
    }
    .filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .nav-tabs .nav-link{
      padding: 15px 10px;
    }
    .filter-modal .modal-dialog .modalf-content .modal-body .filter-tabs .tab-content .filter-tab-pane{
        padding:20px 20px;
    }
    .filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul li{
        width: 16.6%;
        padding: 5px;
    }
    .filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.ppty-type-sec .pr-types-list ul li .pr-type-contents h5{
        font-size: 14px;
    }
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec .range-fltr .price-range-slider .ui-slider-horizontal .ui-slider-handle{
    border: 5px solid #fff;
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 2px #ddd;
    top: -8px;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec {
    width: 40%;
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul {
    columns: 2;

}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p{
    display: flex;    
    position: relative;
    margin-bottom: 20px;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p input[type="checkbox"]{
    width: 25px;
    height: 25px;
    opacity: 0;
    position: relative;
  cursor: pointer;
  z-index: 2;
  transform: translate(24px, 0px);
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p  label{
    color: #ddd;
    transition: all 0.3s linear;
    font-weight: 600;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p input[type="checkbox"]:checked {
    background-color: black;
}
@media screen and (max-width: 1399px) {
    .filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec {
        width: 55%;
    }
    .filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p  label{
        font-size: 12px;
    }
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p input[type="checkbox"]:checked ~ label{
    color: #000;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p label{
    padding: 0px 10px;
        
}

.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p  .checkbox-custom {
    position: relative;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    opacity: 0.4;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #000;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p  .checkbox-custom:after{
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-width: 0 2px 2px 0;
    border: solid #000;
    
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p input[type="checkbox"]:checked ~ .checkbox-custom {
    background-color: #000;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #000;
  }

  .filter-modal .modal-dialog .modal-content .modal-body .filter-tabs .tab-content .filter-tab-pane .fltr-sub-sec.fac-fltr-sec .fac-types-list ul li p input[type="checkbox"]:checked ~ .checkbox-custom:after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
  }

  .prp-room-sec .prop-room-wrap {
      width: 40%;
  }
  .prp-room-sec .prop-room-wrap .prop-room-list h5{
    color: #b8b8b8;
    padding-left: 15px;
  }
  .prp-room-sec .prop-room-wrap .prop-room-list ul {
    display: flex;
}
.prp-room-sec .prop-room-wrap .prop-room-list ul li{
    width: 20%;
    padding: 10px;
    text-align: center;
    cursor: pointer;    
}
.prp-room-sec .prop-room-wrap .prop-room-list ul li span{
    border: 1px solid #ddd;
    padding: 15px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s linear;
}

.prp-room-sec .prop-room-wrap .prop-room-list ul li.active span{
    border: 1px solid #1F1D2B;
}

.prp-room-sec .prop-room-wrap .prop-room-list ul li:hover span{
    border: 1px solid #1F1D2B;
}

.furn-sec .prop-furn-list ul {
    display: flex;
}
.furn-sec .prop-furn-list ul li{
    width: 20%;
    padding: 10px;
    text-align: center;
    cursor: pointer;        
}
.furn-sec .prop-furn-list ul li span{
    border: 1px solid #ddd;
    padding: 15px;
    display: inline-block;
    width: 100%;
    transition:  all 0.4s linear;
    border-radius: 5px;
}

@media screen and (max-width: 1399px) {
   
    .prp-room-sec .prop-room-wrap {
      width: 55%;
  }
  .furn-sec .prop-furn-list ul li span{
    font-size: 12px;
}

  }
.furn-sec .prop-furn-list ul li.active span{
    border: 1px solid #1F1D2B;
}


.furn-sec .prop-furn-list ul li:hover span{
    border: 1px solid #1F1D2B;
}

.advance-search-wrap {
    padding: 30px 0px;
}
.filter-modal .modal-dialog .modal-content .modal-body .advance-search-wrap .filter-title.advance-fltr-title{
    background-image: url(../images/wrench.png);
}
.advance-search-wrap .adv-search-contents{
    padding: 40px 10px 20px;
}
.advance-search-wrap .opt-title-match {
    width: 50%;
    display: flex;
    margin-bottom: 30px;
}
.advance-search-wrap .opt-title-match p{
    color:#1F1D2B ;
    font-weight: 800;
    padding:0px 10px;
    margin-bottom: 10px!important;
}
.advance-search-wrap .opt-title-match input[type="checkbox"]{
    width: 30px;
    height: 25px;
    float: left;
    
}
.advance-search-wrap .opt-title-match select{
    width: 20%;
    height: 30px;
    background-color: #fbf7ff;
}
.banner-wrap-section .banner-wrap .drop-wrap .search-contents .search-tab .tab-content .search-tab-pane  .field-selection-wrap .prop-btn.add-btn{
    width: 60px;
    height: 60px;
    font-size: 15px;
}
.field-selection-wrap{
    margin-bottom: 25px;
}
.field-selection-wrap .sub-adv-title{
    margin-bottom: 30px;
}
.field-selection-wrap .sub-adv-title h5{
    font-weight: 900;
    color:#1F1D2B ;
}
.field-selection-wrap .fltr-options-input-contents{
    width: 65%;
}



.field-selection-wrap .fltr-options-input-contents .fltr-option-input-single{
    display: flex;
    flex-wrap: wrap;
}
.field-selection-wrap .fltr-options-input-contents .fltr-option-input-single p{
    margin-bottom: 10px!important;
    width: 30%;
    margin-right: 10px;
}

.field-selection-wrap .fltr-options-input-contents .fltr-option-input-single p  .select2-container--default .select2-selection--single,
.field-selection-wrap .fltr-options-input-contents .fltr-option-input-single p input {
    height: 55px;
    border: 1px solid #ddd;
    border-radius: 5px!important;
}
@media screen and (max-width: 1399px) {
   
    .field-selection-wrap .fltr-options-input-contents{
        width: 85%;
    }
    .field-selection-wrap .fltr-options-input-contents .fltr-option-input-single p{
        margin-bottom: 10px!important;
        width: 28%;
        margin-right: 10px;
    }
    .field-selection-wrap .fltr-options-input-contents .fltr-option-input-single p  .select2-container--default .select2-selection--single,
.field-selection-wrap .fltr-options-input-contents .fltr-option-input-single p input {
    height: 3 5px;
    border: 1px solid #ddd;
    border-radius: 5px!important;
}

  }
.field-selection-wrap .fltr-options-input-contents .fltr-option-input-single button{
    width: 50px;
    height: 55px;
    color: #ff5f3d;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0;
}

.field-selection-wrap .fltr-options-input-contents .fltr-option-input-single p .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 3.5;
}
.field-dates .fltr-option-input-content{
    width: 65%;
}
.field-dates .fltr-option-input-content .fltr-option-input-single p{
    width: 30%;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px!important;
}
.field-dates .flter-option-input-content .fltr-option-input-single .input[type="date"]{
    background-image: url(../images/calendar.png);
    background-position: 95% 50%;
    background-size: 2%;
    opacity: 0.7;
}
.fltr-footer .clear-btn{
    font-size: 20px;
    color: #727272;
    font-weight: 700;
}
.fltr-footer .clear-btn.clear-btn-left{
    width: 25%;
    text-align: left;
}
.fltr-footer .cancel-sub-wrap{
    width: 75%;
    text-align: right;
    float: right;
}
.form-filter .filter-modal .modal-dialog .modal-content  .fltr-footer .cancel-sub-wrap button.clear-btn,
.form-filter .filter-modal .modal-dialog .modal-content  .fltr-footer .cancel-sub-wrap button.prop-btn{
    width: 100px;
    margin-left: 10px;
    display: inline-block;
}

